/* media.css */
@media (max-width: 600px) {
    .avatar { width: 70px; height: 35px; }
    .avatar-text { font-size: 25px; }
}

@media (max-width: 400px) {
    .avatar { width: 60px; height: 30px; }
    .avatar-text { font-size: 20px; }
}

@media (max-width: 768px) {
    .startpage-grid, .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}