/* section1styles.css */

/* Стили для секции анимации */
.animation-section {
    /* Ваши стили для секции анимации */
    position: relative;
    width: 100%;
    height: 400px; /* Пример высоты */
    overflow: hidden;
}

/* Стили для контейнера анимации */
.animation-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Стили для падающего самолета */
.emoji-plane {
    /* Пример стилей для самолета */
    width: 5%; /* 5% от ширины экрана */
    position: absolute;
    /* Дополнительные стили */
    animation: fall 5s infinite;
}

/* Стили для падающей машины */
.emoji-car {
    /* Пример стилей для машины */
    width: 5%; /* 5% от ширины экрана */
    position: absolute;
    /* Дополнительные стили */
    animation: fall 3s infinite;
}

/* Ключевые кадры для анимации падения */
@keyframes fall {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(100%);
    }
}