* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    padding-top: 60px;
}









.animation-container {
    position: relative;
    width: 100vw; 
    height: 100vh; 
}


.emoji-plane, .emoji-car {
    position: absolute; 
    font-size: 60px; 
    top: -60px; 
    opacity: 0; 
    animation: fall 3s forwards; 
}


.emoji-plane {
    left: 25%; 
    animation-delay: 0s; 
}


.emoji-car {
    left: 75%; 
    animation-delay: 5s; 
}


@keyframes fall {
    0% {
        top: -60px; 
        opacity: 0; 
    }
    10% {
        opacity: 1;
    }
    100% {
        top: calc(100vh + 60px); 
        opacity: 0; 
    }
}


.emoji-plane, .emoji-car {
    animation: fall 3s forwards;
    animation-iteration-count: infinite;
}

.emoji-plane {
    animation-delay: 0s; 
}

.emoji-car {
    animation-delay: 5s; 
}









.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    z-index: 1000; 
}

.ufo-emoji, .ufo2-emoji {
    font-size: 2rem;
    position: absolute;
    right: -50px;
    animation: fly 5s linear infinite;
}

.ufo2-emoji {
    font-size: 1.5rem;
    animation-delay: 2s;
    transform: rotate(-90deg);
}

@keyframes fly {
    0% { transform: translateX(0) translateY(0) rotateY(0deg) rotateZ(0deg); }
    25% { transform: translateX(-25vw) translateY(-20px) rotateY(90deg) rotateZ(90deg); }
    50% { transform: translateX(-50vw) translateY(0) rotateY(180deg) rotateZ(180deg); }
    75% { transform: translateX(-75vw) translateY(20px) rotateY(270deg) rotateZ(270deg); }
    100% { transform: translateX(-100vw) translateY(0) rotateY(360deg) rotateZ(360deg); }
}

@keyframes fly2 {
    0% { transform: translateX(0) translateY(0) rotate(-90deg); }
    100% { transform: translateX(-120vw) translateY(10px) rotate(-90deg); }
}

.avatar {
    position: relative;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
}

.avatar-text {
    font-size: 30px;
    font-weight: bold;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url('flame-animation.gif');
    animation: fire-animation 1s infinite steps(10);
    background-size: 200% 100%;
    position: relative;
    text-shadow: 1px 1px 0 rgba(255, 165, 0, 0.7), 1px 1px 0 rgba(255, 255, 0, 0.5);
    white-space: nowrap;
    text-align: center;
}

@media (max-width: 600px) {
    .avatar {
        width: 70px;
        height: 35px;
    }
    
    .avatar-text {
        font-size: 25px;
    }
}

@media (max-width: 400px) {
    .avatar {
        width: 60px;
        height: 30px;
    }
    
    .avatar-text {
        font-size: 20px;
    }
}

@keyframes fire-animation {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
}


.menu-btn {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.menu-btn:focus {
    outline: none;
}

.animation-section {
    display: flex;
    flex-direction: column; 
    position: relative;
    width: 100%;
    height: 50vh; 
    padding-top: 20px; 
    padding-left: 15px; 
    padding-right: 15px; 
}

.title {
    font-size: 3rem; 
    text-align: center; 
    margin: 0; 
    padding: 0 25px; 
}

@media (max-width: 768px) {
    .title {
        font-size: 10rem; 
        padding-right: 20px; 
    }
}


.animated-title {
    font-size: 4vw; 
    margin-bottom: 20px; 
    text-align: center; 
    display: inline-block; 
    position: relative; 
    overflow: hidden; 
}


.animated-title::before {
    content: attr(data-text);
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    background: linear-gradient(45deg, #ff0000, #ff9900, #ffcc00, #ffff00, #ffcc00); /* Градиент цветов огня */
    background-size: 400%; 
    animation: gradientAnimation 5s ease infinite; 
    -webkit-background-clip: text; 
    background-clip: text; 
    z-index: -1; 
}

.letter {
    display: inline-block; 
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeInUp 0.5s forwards; 
    background: linear-gradient(45deg, #ff0000, #ff9900, #ffcc00, #ffff00, #ffcc00); /* Градиент для каждой буквы */
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}


@keyframes fadeInUp {
    0% {
        transform: translateY(20px); 
        opacity: 0; 
    }
    100% {
        transform: translateY(0); 
        opacity: 1; 
    }
}


.letter:nth-child(1) { animation-delay: 0.1s; }
.letter:nth-child(2) { animation-delay: 0.2s; }
.letter:nth-child(3) { animation-delay: 0.3s; }
.letter:nth-child(4) { animation-delay: 0.4s; }
.letter:nth-child(5) { animation-delay: 0.5s; }
.letter:nth-child(6) { animation-delay: 0.6s; }
.letter:nth-child(7) { animation-delay: 0.7s; }
.letter:nth-child(8) { animation-delay: 0.8s; }
.letter:nth-child(9) { animation-delay: 0.9s; }
.letter:nth-child(10) { animation-delay: 1.0s; }
.letter:nth-child(11) { animation-delay: 1.1s; }
.letter:nth-child(12) { animation-delay: 1.2s; }
.letter:nth-child(13) { animation-delay: 1.3s; }
.letter:nth-child(14) { animation-delay: 1.4s; }
.letter:nth-child(15) { animation-delay: 1.5s; }
.letter:nth-child(16) { animation-delay: 1.6s; }
.letter:nth-child(17) { animation-delay: 1.7s; }
.letter:nth-child(18) { animation-delay: 1.8s; }
.letter:nth-child(19) { animation-delay: 1.9s; }
.letter:nth-child(20) { animation-delay: 2.0s; }

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}


@keyframes float {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-10px); 
    }
    100% {
        transform: translateY(0); 
    }
}


.animated-title {
    animation: float 3s ease-in-out infinite; 
}



.squares-container {
    position: absolute; 
    top: 60%; 
    left: 20vw; 
    display: flex; 
    flex-wrap: wrap; 
}


.small-square {
    width: 10vw; 
    height: 10vw; 
    max-width: 50px; 
    max-height: 50px; 
    background-color: #ff6600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw; 
    opacity: 0; 
    animation: moveSmall 1.5s ease-out forwards infinite; 
}





@keyframes moveSmall {
    0% {
        transform: translateY(0); 
        opacity: 1; 
    }
    20% {
        opacity: 1; 
    }
    100% {
        transform: translateY(-100px); 
        opacity: 0; 
    }
}


.small-square:nth-child(1) { animation-delay: 0s; }
.small-square:nth-child(2) { animation-delay: 0.1s; }
.small-square:nth-child(3) { animation-delay: 0.2s; }
.small-square:nth-child(4) { animation-delay: 0.3s; }
.small-square:nth-child(5) { animation-delay: 0.4s; }
.small-square:nth-child(6) { animation-delay: 0.5s; }
.small-square:nth-child(7) { animation-delay: 0.6s; }
.small-square:nth-child(8) { animation-delay: 0.7s; }
.small-square:nth-child(9) { animation-delay: 0.8s; }
.small-square:nth-child(10) { animation-delay: 0.9s; }
.small-square:nth-child(11) { animation-delay: 1s; }
.small-square:nth-child(12) { animation-delay: 1.1s; }
.small-square:nth-child(13) { animation-delay: 1.2s; }
.small-square:nth-child(14) { animation-delay: 1.3s; }
.small-square:nth-child(15) { animation-delay: 1.4s; }
.small-square:nth-child(16) { animation-delay: 1.5s; }
.small-square:nth-child(17) { animation-delay: 1.6s; }
.small-square:nth-child(18) { animation-delay: 1.7s; }
.small-square:nth-child(19) { animation-delay: 1.8s; }
.small-square:nth-child(20) { animation-delay: 1.9s; }



.startpage-grid, .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

@media (max-width: 768px) {
    .startpage-grid, .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.startpage-card, .project-card {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    animation: float 3s ease-in-out infinite;
}

.startpage-card, .project-card {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    animation: float 3s ease-in-out infinite;
}

.startpage-card:hover, .project-card:hover {
    transform: translateY(-10px) scale(1.05) rotate(2deg);
    background-color: #444;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.startpage-icon, .project-icon {
    font-size: 3rem;
    margin-bottom: 15px;
    animation: icon-float 2s ease-in-out infinite, icon-rotate 2s ease-in-out infinite;
}

.startpage-card h3, .project-card h3 {
    font-size: 1.2rem;
    color: #ffcc00;
    margin: 0;
    transition: color 0.3s ease;
}

.startpage-card:hover h3, .project-card:hover h3 {
    color: #fff;
}


.startpage-card-special {
    position: relative;
    overflow: hidden;
    background: url('flame-animation.gif') no-repeat center center; 
    background-size: cover;
    border: none; 

    box-shadow: 1px 6px 15px rgba(255, 0, 0, 0.2); 
}

.startpage-card-special::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 0; 
    border-radius: 10px; 
}

.startpage-card-special .startpage-icon {
    font-size: 40px;
    padding: 10px;
    border-radius: 50%;
}


.startpage-card-special h3 {
    font-size: 24px;
    margin-top: 10px;
    color: transparent; 
    background: linear-gradient(45deg, 
        #ff4500,  
        #ff8c00,  
        #ffd700,  
        #ff4500,  
        #ff0000); 
    background-clip: text;
    -webkit-background-clip: text;
    padding: 5px 10px;
    position: relative; 
    z-index: 1; 
    border-radius: 5px;
    animation: fire-gradient 3s ease infinite; 
}


@keyframes fire-gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}



.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fire-text {
    font-size: 8rem;
    font-weight: bold;
    color: transparent; 
    background-clip: text; 
    -webkit-background-clip: text; 
    background-image: url('flame-animation.gif'); 
    animation: fire-animation 1s infinite steps(10);
    background-size: 200% 100%; 
    overflow: hidden;

    
    position: relative; 
}

.fire-text::before {
    content: attr(data-text); 
    position: absolute;
    left: 0;
    top: 0;
    color: transparent; 
    text-shadow: 
        0 0 5px rgba(0, 0, 0, 0.8),  
        0 0 10px rgba(232, 93, 0, 0.6), 
        0 0 15px rgba(234, 255, 0, 0.4), 
        0 0 20px rgba(255, 0, 0, 0.4); 
    width: 100%;
    height: 100%;
    z-index: -1; 
}

@keyframes fire-animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%; 
    }
}



.gift {
    position: fixed;
    left: 20px;
    bottom: 20px;
    font-size: 5rem;
    cursor: pointer;
    animation: pulse 1.5s infinite; 
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); 
    }
    100% {
        transform: scale(1);
    }
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    width: 80%;
    max-width: 500px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}


section {
    padding: 50px;
    width: 100%;
    color: white;
    background-color: #111;
    border-top: 1px solid #333;
}

section:nth-child(even) {
    background-color: #222;
}

.about-us {
    text-align: center;
    margin: 50px 0;
    color: white;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.project-card {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    text-align: center;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-icon {
    font-size: 3rem;
    margin-bottom: 15px;
}

.project-card h3 {
    font-size: 1.2rem;
    color: #ffcc00;
    margin: 0;
}



.contacts-section {
    text-align: center;
    padding: 50px 0;
}

.contacts-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.contact-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.contact-card {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out; 
}

.contact-card:hover {
    transform: rotateY(180deg); 
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    transition: transform 0.8s ease-in-out; 
}

.card-front {
    background-color: rgba(0, 0, 0, 0.6);
}

.card-back {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    transform: rotateY(180deg); 
}

.contact-logo {
    font-size: 60px;
}

.contact-text {
    font-size: 20px;
    font-weight: bold;
}


@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}


.contact-card {
    animation: flip 5s infinite ease-in-out; 
}
