/* titles.css */
.title {
    font-size: 3rem; 
    text-align: center; 
    margin: 0; 
    padding: 0 25px; 
}

@media (max-width: 768px) {
    .title {
        font-size: 10rem; 
        padding-right: 20px; 
    }
}

.animated-title {
    font-size: 4vw; 
    margin-bottom: 20px; 
    text-align: center; 
    display: inline-block; 
    position: relative; 
    overflow: hidden; 
}